{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2 style="margin-top: 0;">{{ _('privacy.title') }}</h2>

    <h3>{{ _('privacy.about_title') }}</h3>
    <p>
        {{ _('privacy.about_text') }}
    </p>


    <h3>{{ _('privacy.sharing') }}</h3>
    <p>
        {{ _('privacy.sharing_text') }}
    </p>

    <h3>{{ _('privacy.account_deletion') }}</h3>
    <p>
        {{ _('privacy.account_deletion_text') }}
    </p>

    <h3>{{ _('privacy.data_improvement') }}</h3>
    <p>
        {{ _('privacy.data_improvement_text') }}
    </p>

    <h3>{{ _('privacy.disclaimer') }}</h3>
    <p>
        {{ _('privacy.user_responsibility_text') }}
    </p>

    <h3>{{ _('privacy.updates_title') }}</h3>
    <p>
        {{ _('privacy.updates_text') }}
    </p>
</div>
{% endblock %}
